::-webkit-scrollbar {
  width: 10px;
  background-color: #00C284;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(89, 148, 116);;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #009c62;
}